.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  background-color: black;
  opacity: .6;
  display: block;
}


.nav-links a:hover,
.nav-links a:active,
.nav-links a.active ,
.active {
  color: #F1C40F;
  transition: ease-in-out 0.3s;
}

.nav-links button {
  cursor: pointer;
  color: #fff;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
  border: none;
  background-color: black;
  opacity: .6;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  color: #F1C40F;
  transition: ease-in-out 0.3s;
  border: none;
}

@media (min-width: 900px) {
  .nav-links {
    flex-direction: row;
    
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    opacity: .9;
  }

  .nav-links button {
    color: white;
    background: transparent;
    border: none;
    opacity: .9;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    color: #F1C40F;
    transition: ease-in-out 0.3s;
  }
}
