.travel-form {
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 80x black;
    border-radius: 6px;
    background: #fff;
}

.center {
    text-align: center;
}