.details-travel {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    margin: 120px ; 
    padding:50px 30px;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 1rem;
    background: #292929;
    
}

.details-travel-img img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    border-radius: 1.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.details-travel-info {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.detail {
    background: #292929;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border:1px solid #fff;
}

.detail:hover {
    background-color: #F1C40F;
    border: 1px solid #292929;
    color: #292929;
}

.details-travel-info h1,span {
    margin: 20px;
    text-align: center;
}

.detail p,span {
    font-size:1.1rem
}


@media (max-width: 1600px) {
    .details-travel {
      display: flex;
    }

    .details-travel-info{
        margin: auto;
        width: 100%;
    }
}

@media (max-width: 1225px) {
    .details-travel {
        display: flex;
        flex-direction: column;
        margin:4rem 3rem;
    }

    .details-travel-img img {
        width: 100%;
        max-height: 100%;
    }

}

@media (max-width: 550px) {
    .details-travel {
        padding: 17px;
        width: 20rem;
        margin: 2rem auto;
    }

    .details-travel-img img {
        height: 100%;
    }
}