.profile-page {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
   width: 300px;
   height: auto;
   margin: 20px 10px 40px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
} 

.upper-container {
   height: 100px;
   background-color: #7286D3 ;
}

.img-profile {
  width: 10rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}


.img-profile img {
    border-radius: 50%;
    border: 2px solid #292929;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 80%;
    padding:5px;
    transform: translate(62px,4px);
    background-color: #fff;
}

.details-profile {
    padding-top:90px ;
    height: 250px;
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
}

.details h2,h4 {
    padding: 0;
}