.profile-page {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
   width: 300px;
   height: 400px;
   margin: 20px 10px 40px;
} 

.upper-container {
   height: 100px;
   background-color: #50577A;
   
}


.img-profile img {
    border-radius: 50%;
    object-fit: cover;
    width: 120px;
    width: 120px;
    padding:5px;
    transform: translate(88px,45px);
    background-color: #fff;
}

.details-profile {
    padding-top:60px ;
    height: 300px;
    background-color: #fff;
    text-align: center;
}

.details h2,h4 {
    padding: 0;
}