.place-item {
  margin: 1rem 0;
}

.place-item__content {
  padding: 0;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__info h2 {
  text-transform: capitalize;
}

.place-item__image {
  width: 100%;
  height: 16.5rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit:cover
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__info h2,
.place-item__info h3 {
text-transform: capitalize;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.map-container {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  height: 70%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.confirm-container {
  position: fixed;
  display: block;
  top: 22vh;
  left: 25%;
  width: 50%;
  height: 40%;
  padding:10%;
  background: white;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}

.confirm-container h3 {
  margin-bottom: 2rem;
}

.button-close {
  position: absolute;
  right: 3%;
  bottom: 2%;

}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  } 

  .confirm-container {
    width: 50%;
    height: 25%;
    padding: 4%;
    top: 25vh;
    left: 23%;
    
  }
}

@media (max-width: 550px) {
  .place-item__actions {
   display: flex;
   flex-direction: column;
  }

  .place-item__actions button {
    margin: auto;
    width: 10rem;
  }

  .confirm-container {
    width: 70%;
    left: 14%;
    height: 35%;
  }

  .confirm-container h3 {
    font-size: 1rem;
  }

}

@media (min-width: 1225px) {

  .confirm-container {
    width: 30%;
    height: 32%;
    padding: 3%;
    top: 22vh;
    left: 35%;
    
  }
}

@media (min-width: 1800px) {

  .confirm-container {
    height: 25%;
  }
}