@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Finlandica&family=Gulzar&family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;900&family=Poppins:wght@400;500;600&family=Rancho&family=Roboto&family=Shadows+Into+Light&family=Ubuntu:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}